[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/moizr-telsiz
[access "refs/for/refs/*"]
	read = group user/moizr-telsiz
	push = group user/moizr-telsiz
	label-Code-Review = -2..+2 group user/moizr-telsiz
	label-Verified = -1..+1 group user/moizr-telsiz
	rebase = group user/moizr-telsiz
	removeReviewer = group user/moizr-telsiz
	submit = group user/moizr-telsiz
[access "refs/heads/*"]
	read = group user/moizr-telsiz
	create = group user/moizr-telsiz
	push = +force group user/moizr-telsiz
	pushMerge = group user/moizr-telsiz
[access "refs/tags/*"]
	push = +force group user/moizr-telsiz
	pushTag = group user/moizr-telsiz
	pushSignedTag = group user/moizr-telsiz
